.cursor{
    width: 15px;
    aspect-ratio: 1;
    border-radius: 100%;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    background-color: rgba(255,255,255,.1);
    position: fixed;
    opacity: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s, border-color .3s;
  }

  .click {
    background-color: rgba(255,255,255,.5);
  }

  .hover {
    width: 500px;
    opacity: 0 !important;
  }
